NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

# Webhook Security
TELEGRAM_SECRET_TOKEN=""

# Bot Credentials
TELEGRAM_BOT_TOKEN=""
TELEGRAM_BOT_USERNAME="reelsvault_bot"

# Misc
NEXT_PUBLIC_DEV_SUPABASE_REDIRECT_URL="http://localhost:3000"